{{> header }}

			<main class="content">
                
				<div class="container-fluid p-0">
	



    <div style="margin-top:100px">
    <h2>All Candidates</h2>

        <table id="example2"  class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>skills</th>
                    <th>Resume</th>
                  
                </tr>
            </thead>
            <tbody>
                {{#candidates}}
                <tr>
                    <td>{{_id }}</td>
                    <td>{{name }}</td>
                    <td>{{ email }}</td>
                    <td>{{ phone }}</td>
                    <td>{{skills}}</td>
                    <td><a  target="_blank" href="/uploads/{{resume}}">Resume</a></td>
                </tr>
                {{/candidates}}
            </tbody>
        </table>
    </div>

				</div>
			</main>

		</div>
	</div>

	<script src="js/app.js"></script> 
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function() {
    $('#example').DataTable( {
        "paging":   true,
        "ordering": true,
        "info":     true
    } );
    $('#example2').DataTable( {
        "paging":   true,
        "ordering": true,
        "info":     true
    } );
} );
	</script>

</body>

</html>