{% load static %}
{% include "header.html"%}

			<main class="content">
                
				<div class="container-fluid p-0">
	



    <div style="margin-top:100px">
    <h2>Fulfillments</h2>

        <table id="example2"  class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Candidate</th>
                    <th>Submitted By</th>
                    <th>InterviewLevel</th>
                    <th>comment</th>
                    <th>Pass</th>
                    <th>Reject</th>
                </tr>
            </thead>
            <tbody>
                {% for client in fulfillments %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.company }}</td>
                    <td>{{ client.submittedby }}</td>
                    <td>{{ client.interviewlevel }}</td>
                    <td>{{ client.comment}}</td>
                    <td><a class="btn btn-primary" href="/confirmation/{{ client.id}}/1">Pass</a></td>
                    <td><a class="btn btn-warning" href="/confirmation/{{ client.id}}/2">Reject</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>






				</div>
			</main>

		</div>
	</div>

	<script src="{% static 'js/app.js' %}"></script> 
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function() {
    $('#example').DataTable( {
        "paging":   true,
        "ordering": true,
        "info":     true
    } );
    $('#example2').DataTable( {
        "paging":   true,
        "ordering": true,
        "info":     true
    } );
} );
	</script>

</body>

</html>