{% load static %}
{% include "header.html"%}

			<main class="content">
				<div class="container-fluid p-0">
					<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>AssignTo</th>
                <th>Assign</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.user }}</td>
                <td>{{ client.assignto }}</td>
                <td><a class = "btn btn-success" href="/view-recruiter/{{client.id}}">Assign</a</td>
            </tr>
            {% endfor %}
        </tbody>
       
    </table>


	<div  style="margin-top: 100px">

	{% if id %}

	<table id="example2" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>AssignTo</th>
                <th>Assign</th>
            </tr>
        </thead>
        <tbody>
            {% for client in tl %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.user }}</td>
                <td>{{ client.assignto }}</td>
                <td><a class = "btn btn-success" href="/assign/{{client.id}}/{{id}}/3">select</a</td>
            </tr>
            {% endfor %}
        </tbody>
       
    </table>


	{% endif %}

</div>








				</div>
			</main>


		</div>
	</div>

	<script src="{% static 'js/app.js' %}"></script> 
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function() {
    $('#example').DataTable( {
        "paging":   true,
        "ordering": true,
        "info":     true
    } );
	$('#example2').DataTable( {
        "paging":   true,
        "ordering": true,
        "info":     true
    } );
} );
	</script>

</body>

</html>